:root {

  --dark-blue: #2F4156;
  --light-blue: #CBD9E6;
  --teal: #567C8D;
  --yellow: #E49600;
  
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80vw;
  height: 90vh;
  background-color: white;
  border-radius: 55px;
}

.container-1 {
  background-color: var(--dark-blue);
  border-radius: 55px 55px 0px 0px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  width: 80px;
  margin-left: 30px;

}

