:root {

  --dark-blue: #2F4156;
  --light-blue: #CBD9E6;
  --teal: #567C8D;
  --yellow: #E49600;
  
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 70vw;
  height: 85vh;
  background-color: white;
  border-radius: 55px;
}

.container-1 {
  background-color: var(--dark-blue);
  border-radius: 55px 55px 0px 0px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.credential-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
}

.sign-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

#sign-in, #sign-out {
  width: 340px;
  height: 75px;
  border-radius: 10px;
  border: none;
  background-color: var(--light-blue);
  cursor: pointer;
}

#sign-in:hover, #sign-out:hover {
  background-color: #48687678;

}

#logo-2 {
  width: 420px;
  margin-left: 30px;
}

#logo {
  width: 80px;
  margin-left: 30px;

}

