@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --dark-blue: #2f4156;
  --light-blue: #cbd9e6;
  --teal: #567c8d;
  --yellow: #e49600;
  --grey: #E2E6E9;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90vw;
  height: 90vh;
  background-color: white;
  border-radius: 20px;
  overflow-y: scroll;
}

.container-1 {
  background-color: var(--dark-blue);
  border-radius: 20px 20px 0px 0px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.container-1A {
  display: flex;
  flex-direction: row;
}
.container-1B {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
  color: white;
  cursor: pointer;
}
#viewMatches, #signOut {
  margin-right: 10px;
}
#viewMatches:hover, #signOut:hover {
  transform: scale(1.05); 
  color: var(--yellow);
}
.container-1 button {
  background-color: #e49600;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 22px 10px 22px;
  margin-right: 45px;
  cursor: pointer;
}

#continue{
  background-color: #e49600;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 22px 10px 22px;
  cursor: pointer;
}

.container-1 button:hover {
  background-color: #d48500;
  transform: scale(1.05); 
}

#container-1 button:active {
  background-color: #b97400;
  transform: scale(0.98); 

}
#submit {
  background-color: #e49600;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 22px 10px 22px;
  margin: 10px 45px 60px 200px;
  cursor: pointer;
  
}

#submit:hover {
  background-color: #d48500;
  transform: scale(1.05); 
}

#submit:active {
  background-color: #b97400;
  transform: scale(0.98); 

}
#user-name {
  font-family: "Poppins";
  font-weight: 600;
  color: black;
  margin-left: 30px;
  
}

#profile-pic {
  border-radius: 50%;
  width: 30%;
}
.other-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-match {
  display: none;
  background-color: rgba(128, 128, 128, 0.426);
  padding: 0px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.container-match h1 {
  margin: 0;
  font-family: "Poppins";
  font-weight: 600;
}

.container-match p, #user-data4, #user-data5, #user-data6 {
  margin: 0;
  font-family: "Poppins";
  font-weight: 400;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
} 

.container-2A {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.container-2B {
  padding: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 50px;
  /* margin-top: 30px;
  margin-left: 30px;
  gap: 30px; */
}

.form-group2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group1A {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.form-group1A-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15pt;
}
/* ///////// Label Styles ///////// */
#line {
  width: 100%;
  height: 0.2px;
  background-color: black;
}
#form-name {
  font-family: 'Poppins';
  font-weight: bold;
}

#form-experience {
  font-family: 'Poppins';
  font-weight: 600;
}

#form-age {
  font-family: 'Poppins';
  font-weight: bold;
}

#form-bio {
  font-family: 'Poppins';
  font-weight: bold;
}

#form-prompt1 {
  font-family: 'Poppins';
  font-weight: bold;
}

#form-prompt2 {
  font-family: 'Poppins';
  font-weight: bold;
}

/* ///////// Input Type Styles ///////// */

#name {
  background-color: var(--grey);
  color: black;
  border: none;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-weight: 400;
}

#age {
  background-color: var(--grey);
  color: black;
  border: none;
  padding: 15px 0px 15px 0px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-weight: 400;
  width: 60px;
}

#experience {
  background-color: var(--grey);
  color: black;
  border: none;
  padding: 15px 0px 15px 0px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-weight: 400;
}

#biography {
  background-color: var(--grey);
  color: black;
  border: none;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-weight: 400;
}

#prompt1 {
  background-color: var(--grey);
  color: black;
  border: none;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-weight: 400;
}

#prompt2 {
background-color: var(--grey);
  color: black;
  border: none;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-weight: 400;
}

.yesno {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 30px 0px 30px 0px;
  font-family: 'Poppins';
}
.yesno button{
  padding: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.yesno button:hover {
  transform: scale(1.05); 
  background-color: gray;
}
.yesno #yesBtn {
  background-color: rgba(142, 175, 134, 0.695);
}
.yesno #noBtn {
  background-color: rgba(224, 171, 171, 0.642);
}
.credential-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
}

.sign-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

#googleSignIn {
  width: 340px;
  height: 75px;
  border-radius: 10px;
  border: none;
  background-color: var(--light-blue);
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 400;
  font-size: large;
  color: black;
}
  
#googleSignIn:hover {
  background-color: #bac7d3;
  transform: scale(1.05); 
}

#googleSignIn:active {
  background-color: #bac7d3;
  transform: scale(0.98); 
}


#logo-2 {
  width: 420px;
  margin-left: 30px;
}

#logo {
  width: 50px;
  height: auto;
  margin-left: 30px;
}
#username {
  font-family: "Poppins";
  font-size: 11pt;
  font-weight: 600;
  color: white;
}
#splash-quote {
  font-family: "Poppins";
  font-weight: 400;
  color: black;
}

/* #uid{
  display:none;
} */

#picture{
  width: 100%;
}

/* responsive */

@media screen and (min-width: 800px) {
  .container {
    width: 80vw;
    height: 70vh;
  }
  .container-2 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .container-2B {
    width: 50%;
  }
  .container-2A {
    height: 550px;
    width: 550px;
  }
  
}